{% extends "kegadmin/base.html" %}
{% load kegweblib %}
{% load crispy_forms_tags %}

{% block title %}Kegbot Admin: Drinks | {{ block.super }}{% endblock %}
{% block pagetitle %}Kegbot Admin: Drinks{% endblock %}

{% block kegadmin-main %}

<table class="table table-hover table-bordered">
<thead>
	<tr>
		<th>Volume</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
{% for drink in drinks %}
<tr>
	<td>{{drink.volume_ml}}</td>
	<td>{{drink.time}}</td>
	<td>{{drink.duration}}</td>
	<td>{{drink.user}}</td>
	<td>{{drink.keg}}</td>
	<td>{{drink.session}}</td>
	<td>{{drink.get_drink_value|floatformat:2}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}